GameStore/Service References/DBModel/GameStoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameStoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IGameStoreService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/GameStoreModelService/GameStoreService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/GameStoreModelService/GameStoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/GameStoreModelService/GameStoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameStoreModelService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameStoreService_Games_InputMessage">
    <wsdl:part name="parameters" element="tns:Games" />
  </wsdl:message>
  <wsdl:message name="IGameStoreService_Games_OutputMessage">
    <wsdl:part name="parameters" element="tns:GamesResponse" />
  </wsdl:message>
  <wsdl:message name="IGameStoreService_SaveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveGame" />
  </wsdl:message>
  <wsdl:message name="IGameStoreService_SaveGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameStoreService_DeleteGame_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGame" />
  </wsdl:message>
  <wsdl:message name="IGameStoreService_DeleteGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameStoreService_ShippingInformations_InputMessage">
    <wsdl:part name="parameters" element="tns:ShippingInformations" />
  </wsdl:message>
  <wsdl:message name="IGameStoreService_ShippingInformations_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShippingInformationsResponse" />
  </wsdl:message>
  <wsdl:message name="IGameStoreService_SaveShippingInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveShippingInformation" />
  </wsdl:message>
  <wsdl:message name="IGameStoreService_SaveShippingInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveShippingInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IGameStoreService_DeleteShippingInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShippingInfo" />
  </wsdl:message>
  <wsdl:message name="IGameStoreService_DeleteShippingInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShippingInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IGameStoreService_Logins_InputMessage">
    <wsdl:part name="parameters" element="tns:Logins" />
  </wsdl:message>
  <wsdl:message name="IGameStoreService_Logins_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginsResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameStoreService">
    <wsdl:operation name="Games">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameStoreService/Games" message="tns:IGameStoreService_Games_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameStoreService/GamesResponse" message="tns:IGameStoreService_Games_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameStoreService/SaveGame" message="tns:IGameStoreService_SaveGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameStoreService/SaveGameResponse" message="tns:IGameStoreService_SaveGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameStoreService/DeleteGame" message="tns:IGameStoreService_DeleteGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameStoreService/DeleteGameResponse" message="tns:IGameStoreService_DeleteGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShippingInformations">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameStoreService/ShippingInformations" message="tns:IGameStoreService_ShippingInformations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameStoreService/ShippingInformationsResponse" message="tns:IGameStoreService_ShippingInformations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveShippingInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameStoreService/SaveShippingInformation" message="tns:IGameStoreService_SaveShippingInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameStoreService/SaveShippingInformationResponse" message="tns:IGameStoreService_SaveShippingInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShippingInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameStoreService/DeleteShippingInfo" message="tns:IGameStoreService_DeleteShippingInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameStoreService/DeleteShippingInfoResponse" message="tns:IGameStoreService_DeleteShippingInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logins">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameStoreService/Logins" message="tns:IGameStoreService_Logins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameStoreService/LoginsResponse" message="tns:IGameStoreService_Logins_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameStoreService" type="tns:IGameStoreService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IGameStoreService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Games">
      <soap:operation soapAction="http://tempuri.org/IGameStoreService/Games" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveGame">
      <soap:operation soapAction="http://tempuri.org/IGameStoreService/SaveGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGame">
      <soap:operation soapAction="http://tempuri.org/IGameStoreService/DeleteGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShippingInformations">
      <soap:operation soapAction="http://tempuri.org/IGameStoreService/ShippingInformations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveShippingInformation">
      <soap:operation soapAction="http://tempuri.org/IGameStoreService/SaveShippingInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShippingInfo">
      <soap:operation soapAction="http://tempuri.org/IGameStoreService/DeleteShippingInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logins">
      <soap:operation soapAction="http://tempuri.org/IGameStoreService/Logins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameStoreService">
    <wsdl:port name="BasicHttpBinding_IGameStoreService" binding="tns:BasicHttpBinding_IGameStoreService">
      <soap:address location="http://localhost/GameStoreModelService/GameStoreService.svc/GameStoreService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>