GameStore/Service References/DBModel/GameStoreService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameStoreModelService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameStoreModelService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameID" type="xs:int" />
      <xs:element minOccurs="0" name="ImageData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="ArrayOfShippingInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShippingInformation" nillable="true" type="tns:ShippingInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShippingInformation" nillable="true" type="tns:ArrayOfShippingInformation" />
  <xs:complexType name="ShippingInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CartInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingInformationID" type="xs:int" />
      <xs:element minOccurs="0" name="StreetAndHouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShippingInformation" nillable="true" type="tns:ShippingInformation" />
  <xs:complexType name="ArrayOfLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Login" nillable="true" type="tns:Login" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogin" nillable="true" type="tns:ArrayOfLogin" />
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginID" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Login" nillable="true" type="tns:Login" />
</xs:schema>